*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-FFF1EE: #FFF1EE;
  --color-FFDADA: #FFDADA;
  --color-FFC1C1: #FFC1C1;
  --color-fcfcfc: #fcfcfc;
  --color-b76e79: #b76e79;
  --color-215A5B: #FFFFFF;
  --color-000000: #000000;
  --color-ff0000: #ff0000;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
  --color-131921: #131921;
  --color-eaeaea: #eaeaea;
}

.errors{
  color: red;
  font-size: 12px;
}

.section-heading{
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 25px;
}

.card-wrapper{
  background-color: white;
  box-shadow: 0px 0px 10px 0px #0000001a;
  padding: 15px;
}

body{
  font-family: 'Rubik', sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--color-FFF1EE);
}

.gap-5{
  gap: 5px;
}

.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}

.gap-40{
  gap: 40px;
}

.gap-50{
  gap: 50px;
}

.button{
  background-color: var(--color-000000);
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 33px;
  border-radius: 25px;
  border:none;
}

.button:hover{
  background: linear-gradient(to right, var(--color-FFDADA), var(--color-FFC1C1), var(--color-FFF1EE));
  color: black;
}

/* Header Start */

.header-top-strip {
  /* border-bottom: 1px solid var(--color-fcfcfc); */

  background: linear-gradient(to right, var(--color-FFDADA), var(--color-FFC1C1), var(--color-FFF1EE));
}

.header-upper {
  background-color: var(--color-FFC1C1);
}

.header-bottom{
  background: linear-gradient(to right, var(--color-FFDADA), var(--color-FFC1C1), var(--color-FFF1EE));
}

/* .header-upper .input-group-text{
  background-color: var(--color-FFFFFF)
} */

.header-upper.header-upper-links img {
width: 35px;
height: 35px;
}

.header-bottom .menu-links a, .header-bottom .dropdown button {
  color: var(--color-000000);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3s;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu{
  background: linear-gradient(to top, var(--color-FFDADA), var(--color-FFC1C1));
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item{
  padding: 15px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-FFF1EE);
}

.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-b76e79) !important;
}

/* Header End */


/* Footer Start */

footer{
  background: linear-gradient(to right, var(--color-FFDADA), var(--color-FFC1C1), var(--color-FFF1EE));
}

footer:not(:first-child) {
  border-top: 1px solid rgba(249, 221, 235, 0.8);
}

footer .input-group-text{
  padding: 8px 17px;
}

/* Footer End */

/* Home Page Start */

.main-banner-content {
  top:15%;
  left: 5%;
}

.main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #bf4800;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  
}

.carousel-caption h5{
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
  color: #bf4800;
}

.carousel-caption p{
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.4;
  color: #b76e79
}

/*
.small-banner-content {
  top:15%;
  left: 10%;
}

.small-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #bf4800;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  
}

.small-banner-content h5{
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
} */

.small-banner {
  width: 49%
}

/* Home wrapper 2 start*/

.home-wrapper-2{
  background-color: var(--color-f5f5f7);  
}

/* Home wrapper 2 end */

/* categories section start*/
.categories{
  background-color: white;
  box-shadow: 0px 0px 10px 0px #0000001a;
  padding: 15px;
  /* cursor: pointer; */
}

.categories>div{
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories>div>div{
  width:30%
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom: 1px solid var(--color-ededed);
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3){
  border-right: 1px solid var(--color-ededed);
}

.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7){
  border-right: 1px solid var(--color-ededed);
}

/* categories section end */

/* Home Page End */


/* blog part start */

.blog-card{
  background-color: white;
  border-radius: 10px;
  }

  .blog-card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .blog-content{
    padding: 15px;
  }

  .blog-content p.date{
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--color-777777);
    padding: 0;
  }
  
  .blog-content h5{
    font-size: 18px;
    color: var(--color-000000);
  }

  .blog-content p.desc{
    font-size: 13px;
    line-height: 25px;
    color: var(--color-777777);
  }

/* blog part end */

/* product card start */

.product-card{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.product-image img {
  transition: all 0.8s ease;
}

.product-image img:hover {
  display: block;
  border-radius: 10px;
  transform: scale(1.05); /* Slightly scale up the image on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
}

.product-card:hover .action-bar{
  right: 18px;
}

.product-card .product-details h6{
  padding-top: 10px;
  color: var(--color-bf4800);
  font-size: 13px;

}

.product-card .product-details h5{
  font-size: 15px;
  color: var(--color-1c1c1b);
}

.product-card .product-details p.price{
  font-size: 16px;
  color: var(--color-1c1c1b);
}

.action-bar {
  top:2%;
  right: -25px;
  transition: 0.3s;
}

.action-bar a img {
  transition: transform 0.3s ease-in-out;
}

.action-bar a:hover img {
  transform: scale(1.5);
}

.section-heading {
  position: relative;
}

.section-heading::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}

.section-heading:hover::after {
  width: 100%;
}

/* product card end */

/* special product start */

.special-product-card {
  padding:20px 10px;
  border-radius: 10px;
  background-color: white;
}

.special-product-card img {
  transition: all 0.8s ease;
}

.special-product-card img:hover {
  display: block;
  border-radius: 10px;
  transform: scale(1.01); /* Slightly scale up the image on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
}

/* special product end */

/* famous product start */

.famous-card .famous-content{
  top: 18%;
  left: 4%;;
}

.famous-card img{
  border-radius: 10px;
  margin-top: 50px;
}

.famous-card {
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.famous-card:hover {
  transform: translateY(-10px);
}

.famous-content h5{
  color: #ededed;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 7px;
  text-transform: uppercase;
  }

.famous-content h6{
  color: #ededed;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
}

.famous-content p{
  color: #ededed;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

/* famous product end */

/*  View Shop start*/

.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 31px 10px 30px;
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}

.filter-card ul,
.filter-card .form-toggle-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: #777777;
  cursor: pointer;
}

.filter-card .form-check-input:focus{
  box-shadow: none;
  border-color:var(--color-FFC1C1);
}

.filter-card .form-check-input:checked{
  background-color: var(--color-FFC1C1);
  border-color:var(--color-FFC1C1);
}

.filter-card .form-toggle-input {
  display: none;
}

.form-toggle {
  display: flex;
  align-items: center;
}

.form-toggle-label {
  cursor: pointer;
  padding: 5px 15px;
  margin: 5px;
  background-color: #e4e4e4;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.form-toggle-input:checked + .form-toggle-label {
  background-color: var(--color-FFC1C1);
  border-color: var(--color-FFC1C1);
}

.sub-title1 {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 15px;
}

.form-toggle-label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.form-toggle-input:checked + .form-toggle-label:before {
  transform: translateX(20px);
}

.colors{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.colors li:nth-child(1) {
  background-color: red; /* Color for the first li */
}

.colors li:nth-child(2) {
  background-color: blue; /* Color for the second li */
}

.colors li:nth-child(3) {
  background-color: green; /* Color for the third li */
}

.colors li:nth-child(4) {
  background-color: yellow; /* Color for the fourth li */
}

.colors li:nth-child(5) {
  background-color: black; /* Color for the fifth li */
}

.colors li:nth-child(6) {
  background-color: limegreen; /* Color for the fifth li */
}

.colors li:nth-child(7) {
  background-color: indigo; /* Color for the fifth li */
}

.colors li:nth-child(8) {
  background-color: magenta; /* Color for the fifth li */
}

.colors li:nth-child(9) {
  background-color: turquoise; /* Color for the fifth li */
}

.surprise-products h5 {
  font-size: 14px;
  margin-bottom: 8px;
}

.surprise-products:first-child {
  border-bottom: 1px solid var(--color-ededed);
}

.filter-sort-grid{
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  width: 944px;
}

.grid img{
width: 35px;
height: 35px;
background-color: #f2f2f2;
padding: 8px;
border-radius: 3px;
box-shadow: none;
cursor: pointer;
}

/*  View Shop end*/

/* Contact page Start here */

.contact-inner-wrapper{
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}

.contact-inner-wrapper>div{
  width:48%;
}

.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align:left;
}

.contact-inner-wrapper form .form-control{
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color:transparent;
  padding: 10px;
}

.contact-inner-wrapper ul{
  list-style-type: none;
  
}

.contact-inner-wrapper address, .contact-inner-wrapper a, .contact-inner-wrapper p{
  color: #777777;
}

/* Contact page End*/

/* compare product, wishlist start */

.compare-product-card{
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}

.compare-product-card .cross ,.wishlist-card .cross{
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

.compare-product-details h5.title, .wishlist-card h5.title{
font-size: 15px;
line-height: 22px ;
font-weight: 500;
color: var(--color-1c1c1b);
}

.compare-product-details h6.price, .wishlist-card h6.price{
  font: 15px;
  line-height: 22px;
  font-weight: 400;

}

.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1)
}

/* compare product, wishlist end */

/* auth card start */

.auth-card{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  margin: 30px auto;
}

.auth-card h3{
  font-size: 30px;
  font-weight: 500;
  color:#777777
}

.auth-card p{
  font-size: 13px;
  color: var(--color-777777);
}

.auth-card .form-control{
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}

/* .auth-card a{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-777777);
} */

/* auth card end */

/* policy section start */

.policy{
  background-color: white;
  padding: 30px;
}

/* policy section end */

/* main product page start */

.description-wrapper h4, .reviews-wrapper h3{
font-size: 26px;
color: #1c1c1b;
margin-bottom: 10px;
}

.description-wrapper p{
  font-size: 14px;
  color: var(--color-777777);
}

.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.review-head h4 {
font-size: 18px;
color: var(--color-1c1c1b)
}

.review-head p, .review-head a {
  font-size: 14px;
  color: var(--color-777777);
}

.review-form h4{
  font-size: 16px;
  color: var(--color-777777);
}

.review-form{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review:not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review-p{
  font-size: 14px;
  color: var(--color-777777);
}

.main-product-image{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.main-product-image>div{
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.main-product-image img{
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;
}

.other-product-images{
  background-color: white;
  padding: 20px;
}

.other-product-images>div{
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 48%;
}

.main-product-image .js-image-zoom__zoomed-image{
  left: 55px !important;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
}

.main-product-details{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.border-bottom{
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main-product-details h3.title{
font-size: 18px;
font-weight: 600;
color: var(--color-1c1c1b);
margin-bottom: 10px;
}

.main-product-details p.price{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-product-details a.review-btn, .t-review{
  font-size: 13px;
  color: var(--color-777777);
}

.product-heading{
  font-size: 14px;
  color: var(--color-1c1c1b);
  margin-bottom: 0px;
}

.product-data{
  font-size: 13px;
  columns: var(--color-777777);
  margin-bottom: 0px;
}

.main-product-details a{
  font-size: 14px;
  color: var(--color-777777);
  padding: 5px;
}

/* main product page end */

/* cart page start */

.cart-header, .cart-data {
  border-bottom: 1px solid #eaeaea ;

}

.cart-header h4{
  font-size: 13px;
  color: var(--color-777777);
}

.cart-col-1{
  width: 40%;
}

.cart-col-2{
  width: 10%;
}

.cart-col-3{
  width: 15%;
}

.cart-col-4{
  width: 15%;
}

.cart-data h5.price{
  font-size: 16px;
  color: var(--color-1c1c1b);
}


/* cart page end */

/* checkout page start */

.total{
  font-size: 16px;
  color: var(--color-1c1c1b);
}

.total-price{
    font-size: 18px;
    color: var(--color-777777);
  }


/* checkout page end*/

.error {
  color: red;
  font-size: 12px;
}